body {
    margin: 0;
    background-color: #2A2C39;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-size: 17px;
    background-image: url("../img/background.jpg");
}

#map-holder {
    width: 80vw;
    height: 80vh;
    margin-left: 200px;
    margin-top: 80px
}

svg rect {
    fill: none;
}

.country {
    fill: #000000;
    /* country colour */
    stroke: rgb(99, 95, 35);
    /* country border colour */
    stroke-width: 1;
    /* country border width */
}

.country-on {
    fill: #4B5358;
    /* highlight colour for selected country */
}

.countryLabel {
    display: none;
    /* hide all country labels by default */
}

.countryName {
    fill: #FFFAFF;
    /* country label text colour */
}

.countryLabelBg {
    fill: #2A2C39;
    /* country label background colour */
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    font: 12px sans-serif;
    background: rgba(26, 16, 22, 0.9);
    border: 0px;
    pointer-events: none;
}